<section class="container bg-color py-2" id="proyectos">
    
    <div class="d-flex justify-content-end">
        <h3 class="flex-grow-1 text-center my-2">✔️ Proyectos</h3>
    
        <a routerLink="/nuevoproyecto" *ngIf="isLogged">
            <i class="bi bi-plus-square-fill btn btn-edicion btn-agregar"></i>
        </a>
    </div>

    <div class="row my-2 py-2">
        <article class="col-12 col-lg-6 my-sm-3" *ngFor="let proyecto of proy">
            <div class="d-flex justify-content-end">
                <a *ngIf="isLogged" routerLink="/editproyecto/{{proyecto.id}}">
                    <i class="bi bi-pencil-square btn btn-edicion btn-editar"></i>
                </a>
                <a *ngIf="isLogged" (click)="delete(proyecto.id)">
                    <i class="bi bi-x-circle btn btn-edicion btn-eliminar"></i>
                </a>
            </div>
            <div class="card text-bg-dark">
                <img src="../../../assets/proyecto-fondo.png" class="card-img">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title fw-bold"> {{ proyecto.nombreP }}</h5>
                    <p class="card-text"><small>{{ proyecto.descripcionP }}</small></p>
                    <p class="card-text"><small>{{ proyecto.mesInicioP }} {{ proyecto.anioInicioP }} - {{ proyecto.mesFinP }} {{ proyecto.anioFinP }}</small></p>

                    <span>
                        <!-- Foto del proyecto -->
                        <a [href]="proyecto.verP" class="btn btn-sm bg-btn text-white mx-2" target="_blank">Ver Proyecto</a>
                        <!-- Ir al repositorio -->
                        <a [href]="proyecto.repoP" class="btn btn-sm bg-btn text-white mx-2" target="_blank">
                            <img src="../../../assets/github2.png" alt="Ir a GitHub" width="18">
                        </a>
                    </span>
                
                </div>
            </div>
        </article>
    </div>
</section>