.container {
    border-radius: 25px; 
    position: relative;
    top:-90px;
}

img {
    border-radius: 15px;
    margin-right: 15px;
    width: 75%;
    opacity: 0.85;
}

img:hover {
    opacity: 1;
}

.bg-btn{
    background-color: var(--bg-btn);
}

.bg-btn:hover{
    background-color: var(--bg-btn-hover);
}

.btn {
    font-size: 25px;
}

.btn:hover {
    font-size: 28px;
}

.btn-agregar{
    color:rgb(54, 106, 226);
}

.btn-editar {
    color: rgb(6, 124, 6);
}

.btn-eliminar {
    color: rgb(213, 21, 21);
}

/* Media queries */

@media (min-width: 768px){

    .container {
        top:0px;
    }

    img {
        width: 55%;
    }
}

@media (min-width: 1200px){

    .container {
        top:-65px;
    }

    img {
        width: 35%;
    }
}