<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-login text-white">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">

                <h5 class="text-white my-4">
                  <i class="bi bi-plus-square-fill"></i> Nueva experiencia laboral
                </h5>

                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="nombreE" id="nombreE" placeholder="Nombre de la Empresa" [(ngModel)]="nombreE" required autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="areaE" id="areaE" placeholder="Área" [(ngModel)]="areaE" required autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="puestoE" id="puestoE" placeholder="Puesto" [(ngModel)]="puestoE" required autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="mesInicioE" id="mesInicioE" placeholder="Mes Inicio" [(ngModel)]="mesInicioE" required autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="anioInicioE" id="anioInicioE" placeholder="Año Inicio" [(ngModel)]="anioInicioE" required autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="mesFinE" id="mesFinE" placeholder="Mes Fin" [(ngModel)]="mesFinE" autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" name="anioFinE" id="anioFinE" placeholder="Año Fin" [(ngModel)]="anioFinE" autocomplete="off">
                  </div>
                  <div class="form-outline form-white mb-4">
                    <textarea class="form-control" name="descripcionE" id="descripcionE"  rows="7" placeholder="Descripción de las tareas" [(ngModel)]="descripcionE" required autocomplete="off"></textarea>
                  </div>
              
                  <button class="btn btn-outline-light px-5">Añadir</button>
                </form>
  
            </div>
  
          </div>
        </div>
       </div>
      </div>
    </div>
  </section>