<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-login text-white">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">

                <h5 class="text-white my-4">
                    <i class="bi bi-pencil-square"></i> Editar habilidad
                </h5>

                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                  <div class="form-outline form-white mb-4">
                    <label for="nombreH">Habilidad:</label>
                    <input type="text" class="form-control" name="nombreH" id="nombreH" [(ngModel)]="hab.nombreH" required>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label for="porcentajeH">Porcentaje:</label>
                    <input type="text" class="form-control" name="porcentajeH" id="porcentajeH" [(ngModel)]="hab.porcentajeH" required>
                  </div>
                 
                  <button class="btn btn-outline-light px-5">Actualizar</button>
                </form>
  
            </div>
  
          </div>
        </div>
       </div>
      </div>
    </div>
  </section>
