.container {
    border-radius: 25px; 
    position: relative;
    top: -50px;
}

.btn {
    font-size: 25px;
}

.btn:hover {
    font-size: 28px;
}

.btn-agregar{
    color:rgb(54, 106, 226);
}

.btn-editar {
    color: rgb(6, 124, 6);
}

.btn-eliminar {
    color: rgb(213, 21, 21);
}

/* Media queries */

@media (min-width: 768px){
    .container {
        top: 30px;
    }
}

@media (min-width: 1200px){
    .container {
        top: 5px;
    }
}
