<section class="container bg-color py-2" id="contacto">
    
    <h3 class="text-center my-2">✔️ Contacto</h3>

    <div class="col-12 col-lg-6 offset-lg-3 py-2">
        <form action="mailto:sandrafabrizi87@gmail.com" method="POST" enctype="text/plain">
            <div class="mb-3">
                <input class="form-control" id="name" name="name" placeholder="Ingrese su nombre" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico" type="email" required>
            </div>
            <div class="mb-3">
                <textarea rows="5" class="form-control" id="comments" name="comments" placeholder="Ingrese sus comentarios" required></textarea>
            </div>
            <div class="mb-3">
                <div class="d-grid gap-2">
                    <input  id="liveToastBtn" class="btn btn-cen bg-btn text-white" type="submit"/>
                </div>
            </div>
        </form>
    </div>
</section>
