<section class="container">
    <div class="row">

        <div class="col-12 col-md-3">
            <img [src]="persona.img" alt="Foto perfil" class="img-fluid" id="fotoperfil">
            <!-- <img src="../../../assets/perfil.jpg" alt="Foto perfil" class="img-fluid" id="fotoperfil"> -->
        </div>
        
        <div class="col-12 col-md-9 my-2 py-2 bg-color misDatos">
            <div class="d-flex justify-content-evenly"> 
                <div class="flex-grow-1">
                    <h2><i>{{ persona.apellido }} {{ persona.nombre }} {{ persona.segnombre }}</i></h2>
                </div>
                <div class="">
                    <a *ngIf="isLogged" routerLink="/editpersona/{{persona.id}}">
                    <i class="bi bi-pencil-square btn btn-editar"></i>
                    </a>
                </div>
            </div>
            <h3 class="txt-color">{{ persona.titulo1 }}</h3>
            <h3 class="txt-color">{{ persona.titulo2 }}</h3>
        </div>
    </div>
    
    <div class="row" id="sobremi">
        <div class="col-12 my-2 py-2 bg-color acercaDe">
            <h3 class="">✔️ Sobre mí</h3>
            <p class="txt-color">
                <img src="../../../assets/pin-de-ubicacion.png" alt="Ubicación">
                De {{ persona.ciudad }}, {{ persona.provincia }}, {{ persona.pais }}. <br> {{ persona.sobremi }}
            </p>
                
            <p class="txt-color">Te invito a que conozcas más sobre mí...</p>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <a href="#experiencia" class="btn btn-sm bg-btn text-white me-1 mb-1">Experiencia</a>
                <a href="#educacion" class="btn btn-sm bg-btn text-white me-1 mb-1">Educación</a>
                <a href="#habilidades" class="btn btn-sm bg-btn text-white me-1 mb-1">Habilidades</a>
                <a href="#proyectos" class="btn btn-sm bg-btn text-white me-1 mb-1">Proyectos</a>
                <a href="#contacto" class="btn btn-sm bg-btn text-white mb-1">Contacto</a>
            </div>

        </div>
    </div>
</section>

