<section class="container bg-color py-2" id="habilidades">
    <h3 class="text-center my-2">✔️ Habilidades</h3>
    
    <article class="row p-2">
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "90"
                [radius]="65"
                [showUnits]="false"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="80"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="75"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/bootstrap.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="50"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/git.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="50"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/github.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="50"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/js.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="40"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/typescript.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="40"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/vue.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="75"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="75"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/mysql.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="60"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/python.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="30"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/flask.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="75"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/java.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="65"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/spring-boot.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="75"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/office.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]="50"    
                [radius]="65"
                [showUnits]="false"    
                [imageSrc]="'../assets/idioma.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"     
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    </article>

    <article class="row p-2">
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "100"
                [radius]="65"
                [showUnits]="false"
                [title]="'Responsable'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "95"
                [radius]="65"
                [showUnits]="false"
                [title]="'Colaborativa'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "100"
                [radius]="65"
                [showUnits]="false"
                [title]="'Resolutiva'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "95"
                [radius]="65"
                [showUnits]="false"
                [title]="'Empática'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "95"
                [radius]="65"
                [showUnits]="false"
                [title]="'Creativa'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "95"
                [radius]="65"
                [showUnits]="false"
                [title]="'Comunicativa'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "95"
                [radius]="65"
                [showUnits]="false"
                [title]="'Flexible'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center p-2">
            <circle-progress
                [percent]= "100"
                [radius]="65"
                [showUnits]="false"
                [title]="'Proactiva'"
                [titleColor]="'var(--second-color) '"
                [titleFontSize]="'0.9em'"
                [showSubtitle]="false"    
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgb(121, 56, 150)'"
                [innerStrokeColor]="'rgb(188, 176, 184)'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div> 
    </article>    
</section>



