.container {
    border-radius: 25px; 
    position: relative;
    top:-90px;
}

img {
    border-radius: 15px;
    margin-right: 15px;
    width: 75%;
    opacity: 0.85;
}

img:hover {
    opacity: 1;
}

/* Media queries */

@media (min-width: 768px){

    .container {
        top:0px;
    }

    img {
        width: 55%;
    }
}

@media (min-width: 1200px){

    .container {
        top:-65px;
    }

    img {
        width: 35%;
    }
}