<section class="container bg-color py-2" id="proyectos">
    
    <h3 class="text-center my-2">✔️ Proyectos</h3>

    <div class="row my-2 py-2">
        <article class="col-12 col-lg-6 my-sm-3">
            <div class="card text-bg-dark">
                <img src="../../../assets/proyecto-1.png" class="card-img" alt="Proyecto Descubrir Argentina">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title fw-bold">"Descubrir Argentina"</h5>
                    <p class="card-text"><small>Sitio web responsivo desarrollado para el Programa "Codo a Codo". Tecnologías aplicadas: HTML,CSS, JS</small></p>
                    <p class="card-text"><small>Agosto 2022 - Octubre 2022</small></p>
                    <span>
                        <a href="https://sandra285.github.io/CaC---Tpo-grupal/" class="btn btn-sm bg-btn text-white mx-2" target="_blank">Ver Proyecto</a>
                        <a href="https://github.com/sandra285/CaC---Tpo-grupal" class="btn btn-sm bg-btn text-white mx-2" target="_blank">GitHub</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-12 col-lg-6 my-sm-3">
            <div class="card text-bg-dark">
                <img src="../../../assets/proyecto-2.png" class="card-img" alt="Portfolio Web">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title fw-bold">"Portfolio Web"</h5>
                    <p class="card-text"><small>Aplicación web full stack desarrollada para la segunda etapa de "Argentina Programa", "Yo Programo". Tecnologías aplicadas: HTML,CSS, Bootstrap, Angular, MySQL, Java, Spring Boot</small></p>
                    <p class="card-text"><small>Octubre 2022 - Mayo 2023</small></p>
                    <span>
                        <a href="#" class="btn btn-sm bg-btn text-white mx-2" target="_blank">Ver Proyecto</a>
                        <a href="#" class="btn btn-sm bg-btn text-white mx-2" target="_blank">GitHub</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-12 col-lg-6 my-sm-3">
            <div class="card text-bg-dark">
                <img src="../../../assets/proyecto-3.png" class="card-img" alt="Sistema para la gestión de empleados">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title fw-bold">"Sistema para la gestión de empleados"</h5>
                    <p class="card-text"><small>CRUD para gestionar la base de datos de los empleados de una empresa. Tecnologías aplicadas: HTML, Bootstrap, MySQL Python, Flask</small></p>
                    <p class="card-text"><small>Noviembre 2022 - Diciembre 2022</small></p>
                    <span>
                        <a href="#" class="btn btn-sm bg-btn text-white mx-2"  data-bs-toggle="modal" data-bs-target="#modalProyecto3">Ver Proyecto</a>
                        <a href="https://github.com/sandra285/CRUD-CaC" class="btn btn-sm bg-btn text-white mx-2" target="_blank">GitHub</a>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-12 col-lg-6 my-sm-3">
            <div class="card text-bg-dark">
                <img src="../../../assets/proyecto-4.png" class="card-img" alt="Proyecto Cálculo de Presupuesto">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                    <h5 class="card-title fw-bold">"Cálculo de Presupuesto"</h5>
                    <p class="card-text"><small>Aplicación web desarrollada con el Curso "Universidad Angular" de la plataforma Udemy. Tecnologías aplicadas: HTML,CSS, Bootstrap, Angular</small></p>
                    <p class="card-text"><small>Diciembre 2022 - Enero 2023</small></p>
                    <span>
                        <a href="#" class="btn btn-sm bg-btn text-white mx-2"  data-bs-toggle="modal" data-bs-target="#modalProyecto4">Ver Proyecto</a>
                        <a href="#" class="btn btn-sm bg-btn text-white mx-2" target="_blank">GitHub</a>
                    </span>
                </div>
            </div>
        </article>  
    </div>     
</section>

<!-- Modal Proyecto3 -->
<div class="modal fade" id="modalProyecto3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bg-color">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/modal-proyecto3.png" alt="CRUD" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<!-- Modal Proyecto4 -->
<div class="modal fade" id="modalProyecto4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-header bg-transparent border-bottom-0">
        <img src="../../../assets/modal-proyecto4.png" alt="Presupuesto" class="img-fluid">
      </div>
    </div>
</div>


   